/*Filtro*/

div#fondofiltro{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table#filtro{
    text-align: center;
    width: 50%;
    margin: 0;
    margin-top: 40px;
    border-radius: 20px;
    background-color: #ddd;
    border: solid 1px #555;
    height: 80px;
}

/* Hacer un estilo del boton filtrar, que quede bien*/

/* Fin filtro */
